@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TodoApp</h1>
    <p>Manage your tasks efficiently with our simple and elegant todo application.</p>
</div>
